* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1413px;
    margin: 0 auto;
}

.container2 {
    width: 1506px;
    margin: 0 auto;
}

.container3 {
    width: 1370px;
    margin: 0 auto;
    position: relative;
}

body {
    font-family: Lato;
}


.title {
    font-size: 65px;
    font-weight: 600;
    color: rgb(0, 0, 0);
  }

  .text {
    font-size: 20px;
    line-height: 157%;
    color: #424242;
  }



.header {
    padding: 20px 0;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__item a {
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.header__item {
    margin-left: 72px;
}

.header__item__ST {
    border: 1px solid #01996D;
    border-radius: 5px;
    background-color: #01996D;
    padding: 13px 50px 13px 50px;
}

.header__item__ST a{
    color: #fff;
}



.sov {
    width: 100%; 
    padding: 255px 0;

}

.sov__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.sov__button {
    border: 1px solid #057253;
    border-radius: 5px;
    background-color: #01996D;
    padding: 20px 50px 20px 50px;
}

.sov__button a {
    color: #f1eded;
    font-size: 20px;
}

.sov__title{
    width: 440px;
    font-size: 65px;
    padding-bottom: 30px;
    

}

.sov__text {
    width: 420px;
    padding-bottom: 40px;
    color: #484848;
   
}
.title{
    color: #01996D;
}
.container{
  
}





.ifto {
    padding-top: 169px;
    padding-bottom: 51px;
    padding-bottom: 255px;
}

.ifto__headers {
  display: flex;
  justify-content: space-between;
}

.ifto__headers_top {
    width: 584px;
}

.ifto__headers_title{
    color: #424242;
    font-size: 24px;
}

.ifto__headers_title_bottom {
   font-size: 50px;
   line-height: 157%;
   color: #01996D;
}

.ifto__headers_right {
    width: 650px;
    height: 269px;
}

.ifto__headers_right_p {
    margin-top: 50px;
    color: #424242; 
    font-size: 20px;
    line-height: 150%; 
}


.ifto__steps {
    padding: 53px 0px;
    display: flex;
    justify-content: space-between;
}

.ifto__steps_personalize {
    width: 382px;
}

.ifto__steps_writeand {
    width: 392px;
}

.ifto__steps_alivio {
    width: 441px;
}

.ifto__steps_title {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 55px;
}

.ifto__steps_text {
    color: #252020;
    font-size: 20px;
    line-height: 150%;
}

.ifto__steps_text_1 {
    padding-bottom: 60px;
}

.ifto__steps_text_2 {
    padding-bottom: 65px;
}

.ifto__steps_text_3 {
    padding-bottom: 65px;
}



.video {
    height: 922px;
    background-color: #245852; 
}


.video__content {
    display: flex;
    justify-content: space-between;
}

.video__title {
    width: 580px;
    color: #fff;
    font-size: 50px;
    line-height: 157%;
    padding-top: 310px;
}

.video__text {
    color: #fff;
    font-size: 25px;
    padding-top: 33px;
}

.video__button {
    padding-top: 77px;
}

.video__button a {
    color: #fff; 
    font-size: 20px;
    background-color: #01996D;
    border-radius: 5px;
    padding: 20px 50px;
}

.video__img {
    padding-top: 229px;
}



.our-product {
    padding-top: 120px;
    padding: 300px;
}

.our-product__content {
    display: flex;
    justify-content: space-between;
}

.our-product__pretitle {
    color: #424242;
    font-size: 25px;
    padding: 10px 0px;

}

.our-product__title {
    width: 564px;
    color: #01996D;
    font-size: 50px;
    line-height: 157%;
    padding-bottom: 20px;
}

.our-product__text {
    width: 530px;
    color: #484848;
    font-size: 20px;
    line-height: 157%;
    padding-bottom: 60px;
}

.our-product__button {
    color: #fff;
    font-size: 20px;
    background-color: #01996D;
    border-radius: 5px;
    padding: 20px 50px;
}

.our-product__img_2 {
    position: absolute;
    left: -70px;
    top: 340px;
}

/* footer */

footer{
    height: 654;
    background-color: #11645b;
}

.footer__pic {
    display: flex;
    padding-top: 95px;
}

.footer__pic {
    color: #dadada;
    padding-top: 50px;
    font-size: 25px;
}

.footer__pic_title {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 900;
    
}

.footer__pic{
    display: flex;
}